<ion-view view-title="Peliculas">
  <ion-content class="padding">
  
    <div class="list card">
    
      <div class="item">
        <h2>Call of Duty Black Ops III...........................................$30 la renta</h2>
      </div>
      
      <div class="item">
        <h2>Fifa 2016...........................................................................$25 la renta</h2>
      </div>
      
      <div class="item">
        <h2>Dante's Inferno..............................................................$30 la renta</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
