<ion-view view-title="Peliculas">
  <ion-content class="padding">
  
    <div class="list card">
    
      <div class="item">
        <h2>Accion</h2>
        <p>Todos los miercoles las peliculas de accion tienen 50% de descuento</p>
      </div>
      
      <div class="item">
        <h2>Familiares</h2>
        <p>Todos los fines de semana tienen el 50% de descuento</p>
      </div>
      
      <div class="item">
        <h2>Terror</h2>
        <p>Todos los lunes tienen un 30% de descuento</p>
      </div>
    </div>
  </ion-content>
</ion-view>
